<section class="section-main bg py-3">
  <div class="container">
    <div class="row">
      <aside class="col-md-3">
        <nav class="card">
          <ul class="menu-category">
            <li class="has-submenu"><a href="#">Mobile Phone</a>
              <ul class="submenu">
                <li><a href="#">Apple</a></li>
                <li><a href="#">Samsung</a></li>
                <li><a href="#">Oneplus</a></li>
              </ul>
            </li>
            <li class="has-submenu"><a href="#">Laptop</a>
              <ul class="submenu">
                <li><a href="#">DELL</a></li>
                <li><a href="#">Thinkpad Lenovo</a></li>
                <li><a href="#">Asus</a></li>
              </ul>
            </li>
            <li class="has-submenu"><a href="#">Screen Computer</a>
              <ul class="submenu">
                <li><a href="#">LG</a></li>
                <li><a href="#">BENQ</a></li>
                <li><a href="#">TCL</a></li>
              </ul>
            </li>
            <li class="has-submenu"><a href="#">Television</a>
              <ul class="submenu">
                <li><a href="#">SHARP</a></li>
                <li><a href="#">PANASOMIC</a></li>
                <li><a href="#">LG</a></li>
              </ul>
            </li>
            <li class="has-submenu"><a href="#">Headphone</a>
              <ul class="submenu">
                <li><a href="#">SONY</a></li>
                <li><a href="#">Skull Candy</a></li>
                <li><a href="#">Beat Monster</a></li>
              </ul>
            </li>
            <li class="has-submenu"><a href="#">Mouse & Keyboard</a>
              <ul class="submenu">
                <li><a href="#">Keychrone</a></li>
                <li><a href="#">Logitech</a></li>
                <li><a href="#">Corsair</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </aside> <!-- col.// -->
      <div class="col-md-9">
        <article class="banner-wrap">
          <img src="assets/images/2.jpg" class="w-100 rounded">
        </article>
      </div> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- container //  -->
</section>
